/*
 * JiveAudio - multimedia plugin for Mozilla
 * Copyright (C) 2003-2008 Hypercore Software Design, Ltd.
 *
 * This program is free software; you can redistribute it and/or
 * modify it under the terms of the GNU General Public License as
 * published by the Free Software Foundation; either version 2 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA
 * 02111-1307, USA.
 */

#if HAVE_CONFIG_H
#include <config.h>
#endif

1 VERSIONINFO
FILEVERSION PACKAGE_VERSION_MAJOR, PACKAGE_VERSION_MINOR, PACKAGE_VERSION_EXTRA
PRODUCTVERSION PACKAGE_VERSION_MAJOR, PACKAGE_VERSION_MINOR, PACKAGE_VERSION_EXTRA
FILEFLAGSMASK VS_FF_DEBUG
#ifdef _DEBUG
FILEFLAGS VS_FF_DEBUG
#else
FILEFLAGS 0
#endif
FILEOS VOS__WINDOWS32
FILETYPE VFT_DLL
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904e4"
    BEGIN
      VALUE "CompanyName", "Hypercore Software Design, Ltd.\0"
      VALUE "FileDescription", PACKAGE_STRING "\0"
      VALUE "FileVersion", PACKAGE_VERSION "\0"
      VALUE "LegalCopyright", "Copyright (C) 2003-2008 Hypercore Software Design, Ltd., Japan\0"
      VALUE "OriginalFilename", "npjive.dll\0"
      VALUE "ProductName", PACKAGE_NAME "\0"
      VALUE "ProductVersion", PACKAGE_VERSION "\0"
      VALUE "MIMEType", "audio/basic|audio/mpeg|audio/x-wav|audio/wav\0"
      VALUE "FileExtents", "|mp3,mp2,mp1|wav|wav\0"
      VALUE "FileOpenName", "G.711 &#x03bc;-law Audio|MPEG Audio|RIFF Waveform Audio|RIFF Waveform Audio - Misuse\0"
    END
  END
END
